.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffb703;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  color: #333;
  font-weight: bold;
}

.nav-links li:hover {
  color: #ffb703;
}

.book-btn {
  padding: 10px 22px;
  background-color: #ffb703;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

.book-btn:hover {
  background-color: #ffb703;
}
