@import "tailwindcss";


.font-script {
  font-family: "Allura", cursive;
}

.font-heading {
  font-family: "Playfair Display", serif;
}

.font-body {
  font-family: "Poppins", sans-serif;
}


@keyframes textFadeUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text {
  animation: textFadeUp 1.2s ease-in-out;
}

